body {
	margin: 0;
}

header{
	background-color: black;
	color: yellow;
}
.logo img {
	width: 100%
}

.menu {
	width: 100%;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0 0 5%;
	list-style: none;
}

video {
	width: 100%;
}

.banner {
	background-color: black;
	height: 10em;
}

.top {
	background-color: black;
	color: white;
}

p {
	margin: 0;
	padding: 5%;
}

footer {
	background-color: black;
}

input {
	display: block;
	text-align: center;
	margin: 5% auto;
	padding: 2%;
}

form {
	padding: 5%;
}

h2 {
	text-align: center;
}

footer .logo {
	width: 50%
}

.benefitboxes div,
.courseboxes div {
	background-color: whitesmoke;
	margin: 3% 5%;
	text-align: center;
}

.benefitboxes div img {
	width: 25%;
	padding-top: 5%;
}

.courseboxes button {
	margin-bottom: 5%;
}

@media (min-width: 768px){
	.logo img {
		width: 25%;
	}

	.menu {
		text-align: right;
	}

	li {
		display: inline;
		padding-right: 5%;
	}

	.benefitboxes,
	.courseboxes {
		text-align: center;
	}

	.benefitboxes div {
		display: inline-block;
		width: 30%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.courseboxes div {
		display: inline-block;
		width: 40%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.textbox {
		position: absolute;
		width: 50%;
		float: left;
	}

	.form {
		position: absolute;
		transform: translateY(-200%);
		right: 100px;
	}



}